.content{
    width: 400px;
    margin: 100px auto;
    background-color: white;
}


.body {
      position: relative;
      heibeght: 100px;
			width: 120px;
			border-bottom: 420px solid #6D7988;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
}

.body:before {
      position: absolute;
      top: -100px;
      left: -45px;
      height: 100px;
			width: 120px;
      content:  '';
			border-bottom: 420px solid #7F8FA3;
			border-left: 45px solid transparent;
			border-right: 45px solid transparent;
}


.hip {
      position: relative;
      height: 300px;
			width: 200px;
			border-top: 100px solid #89748C;
			border-right: 20px solid transparent;
			border-left: 20px solid transparent;
}

.hip:before{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 300px;
			width: 196px;
      content: '';
			border-top: 10px solid #775F7A;
			border-right: 2px solid transparent;
			border-left: 2px solid transparent;
}

.leg-left{
      position: absolute;
      top: 630px;
      left: 170px;
      width: 0;
			height: 0;
			border-top: 180px solid #96A6B8;
			border-left: 50px solid transparent;
			border-right: 0px solid transparent;

}

.leg-right{
      position: absolute;
      top: 630px;
      left: 275px;
      width: 0;
			height: 0;
			border-top: 180px solid #96A6B8;
			border-left: 0px solid transparent;
			border-right: 50px solid transparent;

}

.left-arm{
   position: absolute;
   top: 400px;
   left: 94px;
   width: 0;
   height: 0;
   border-top: 260px solid #96A6B8;
   border-left: 0px solid transparent;
   border-right: 40px solid transparent;
}

.left-shoulder{
   position: absolute;
   top: 371px;
   left: 94px;
   width: 0;
   height: 0;
   border-top: 29px solid #B4C1CF;
   border-left: 29px solid transparent;
   border-right: 40px solid transparent;
   transform: rotate(-45deg);
}

.right-arm{
   position: absolute;
   top: 400px;
   left: 359px;
   width: 0;
   height: 0;
   border-top: 260px solid #96A6B8;
   border-left: 40px solid transparent;
   border-right: 0px solid transparent;
}

.right-shoulder{
   position: absolute;
   top: 371px;
   left: 330px;
   width: 0;
   height: 0;
   border-bottom: 29px solid #B4C1CF;
   border-left: 29px solid transparent;
   border-right: 40px solid transparent;
   transform: rotate(-135deg);
}
