body {
    background-image: url(../images/header_bg.jpg);
    background-color: #dcd6cd;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

/*Logo*/

h1{
    width: 750px;
    height: 366px;
    margin: 50px auto 50px auto;
    background-image:
    url(../images/logo.png);
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    align: center;
}

/*Vimeo*/

div.vimeo-video {
    text-align: center;

}


/*Gallery*/

div.gallery {
    max-width: 934px;
    margin: 50px auto auto auto;

}
