.container{
     position: relative;
     left: 550px;
     top: 50px;
}

.head{
    position: relative;
    width: 100px;
    height: 60px;
    background-color: #76728D;
}


.head:before{
    position: absolute;
    left: 10px;
    top: 16px;
    width: 80px;
    height: 28px;
    content: '';
    border-radius: 22px;
    background-color: #362E50;
}


.eye-left{
    position: absolute;
    left: 18px;
    top: 23px;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 15px;
    background-color: #ffffff;
}

.eye-right{
    position: absolute;
    left: 67px;
    top: 23px;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 15px;
    background-color: #ffffff;
}

.arm01{
  width: 10px;
  height: 60px;
  border: 3px solid #362E50;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 17px;
}

.arm02{
  width: 2px;
  height: 60px;
  border: 3px solid #362E50;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 34px;
}

.arm03{
  width: 2px;
  height: 60px;
  border: 3px solid #362E50;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 56px;
}

.arm04{
  width: 10px;
  height: 60px;
  border: 3px solid #362E50;
  border-radius: 20px;
  position: absolute;
  top: 14px;
  left: 67px;
}
