

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Light-webfont.eot');
    src: url('../fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Light-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Light-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Light-webfont.svg#montserratlight') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: 700;
    font-style: normal;

}




body  {
  color: #4a4261;
  background-color: #dcd6cd;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 700 normal



}


.wrapper  {
  width: 620px;
  margin: 0 auto;
  padding: 56px 0 0;
}

h1  {
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 40px;
}

form{
  margin-bottom: 40px;

}

fieldset{
  width: 300px;
  float: left;
  margin-bottom: 20px;
}

fieldset:first-child{
  margin-right: 20px;
}

fieldset.wide{
  width: 100%;
  clear: both;

}

legend{
  background-color: #938c97;
  width: 100%;
  height: 40px;
  padding: 0 13px;
  color: #fff;
  border-radius: 2px;
  line-height: 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: 300;
}

label{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

label span{
  color:  #dc5656;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"]{
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(74, 66, 94, 0.5);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  margin-bottom: 10px;
  padding-left: 10px;
  max-width: 620px;
  max-height: 400px;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
  line-height: 40px;
  height: 40px;
}

textarea {
  width: 620px;
  height: 165px;
  padding: 10px 13px;
  line-height: 20px;

}

fieldset > div {
  margin-bottom: 10px;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus{
  border-color: rgba(74, 66, 97, 1);
  outline: 0;

}


input[type="radio"]
input[type="checkbox"]{

 }




select{
  background-color: #fff;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  padding: 0 13px;
  color: #938c97;
  border-radius: 2px;
  line-height: 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: 300;
  font-color: #938c97;
}

select:focus{
  border-color: rgba(74, 66, 97, 1);
  outline: 0;
}

.halt input[type="text"]{
  width: 80px;
}

.half{
  width: 140px;
  float: left;
  margin-right: 20px;
}

.half + .half{
  margin-right: 0;

}

.half label{
  font-weight: normal;
}

.half label:first-child{
  font-weight: bold;
}

div > .half label:first-child {
  font-weight: normal;
}


.gender label {
  width: 60px;
  float: left;
  line-height: 40px;
}

.gender label:first-child {
  width: 100px;
  margin-right: 20px;
  line-height: 14px;
}

.gender label:first-child + label{
  margin--right: 20px;
}


form small {
  color: #999;
  font-size: 14px;
  clear: both;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

input[type="submit"]{

  background: #524969; /* Old browsers */
  background: -moz-linear-gradient(top,  #524969 0%, #423b56 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#524969), color-stop(100%,#423b56)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #524969 0%,#423b56 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #524969 0%,#423b56 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #524969 0%,#423b56 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #524969 0%,#423b56 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#524969', endColorstr='#423b56',GradientType=0 ); /* IE6-9 */

  border: 0;
  color: #fff;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 3px #352F45;
}

input[type="reset"]{

  background: #fff;
  border: 1px #938C96 solid;
  color: #4A4260;
  width: 160px;
  height: 45px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700 normal;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  float: right;
}


input[type="reset"]:hover{

  background: url("http://www.sherv.net/cm/emo/funny/2/banana.gif") no-repeat;

  border: 0;
  color: transparent;
  width: 160px;
  height: 40px;
  border: none
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-position: center;

  float: right;
}

fieldset.agreement  {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 15px;

}
