body{
  background-color: #E4E4E4;
  font-family: arial;
}

header{

}

header h1{
  background-color: #898989;
  text-size: 10px;
  line-height: 130px;
  padding-left: 70px;
  color: #fff;
  height: 130px;

}

nav li{
  background-color: #AAAAAA;
  height: 40px;
  display: inline;
  line-height: 40px;
  white-space: nowrap;
  background-color: white;
  border: 1px solid black;
  text-align: center;

}

.nav a{
  display:inline-block;
  padding:10px;
}

.menu{
  float: left;
}

.social{
  float: right;
}

main{
  height: 100%;
  background-color: #fff;
  content: "";
}

section{
  padding: 30px;
  background-color: #fff;
  width: 700px;
  float: right;
}

aside{
  padding: 30px;
  background-color: #E9EAF4;
  width: 230px;
  float: left;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: #fff;
}
